table {
    width: 100%;
    padding-bottom: 10px;
    border-collapse: collapse;
  }
  
  tr {
    height: 100px;
    background-color: violet;
  }
  
  #table1 td {
    border: 1px solid red;
  }
  
  #table2 td {
    border: 1px solid blue;
  }
  
  #div1 {
    margin-top: 30px;
    background: #ffe699;
    border: solid black;
    box-shadow: 0 0 20px violet;
    padding: 50px;
  }
  