html,
body {
  margin: 0;
  padding: 0;
  min-width: 1000px;
  font-family: Arial;
}

#black-bar {
  background-color: black;
  color: white;
  font-size: 16px;
  height: 55px;
}

#black-bar .fixed-container {
  padding: 18px 0 0 0;
}

#black-bar h1 {
  font-size: 16px;
  margin: 0;
}

#black-bar time {
  padding-left: 490px;
  white-space: nowrap;
}

#black-bar a {
  color: white;
}

.fixed-container {
  width: 1000px;
  margin: 0 218px 0 218px;
  position: relative;
}

.mainline {
  min-height: 60px;
  margin-top: 40px;
}

.logo {
  float: left;
}

.custom-select {
  margin-left: 60px;
  margin-top: 10px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: -5px;
  padding-right: 15px;
}

.custom-select::after {
  content: "V";

  width: 80%;
  position: absolute;
  left: 0;
  bottom: 2px;

  border-width: 0 0 1px;
  border-style: dashed;
  border-color: teal;
}

.inline {
  float: left;
}

.weather1 {
  top: 40px;
  float: right;
  background-image: url("https://image.flaticon.com/icons/svg/1164/1164945.svg");
  background-position: left center;
  background-size: auto 100%;
  padding-left: 30px;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 60px;
}

.search {
  position: relative;
  width: 320px;
  height: 45px;
  background-color: grey;
  border-radius: 25px;
  border: none;
}

.search input {
  background-color: transparent;
  border: none;
  margin-left: 30px;
  color: white;
  width: 250px;
  height: 50px;
}
.search input::placeholder {
  color: white;
  font-size: 14px;
}

.search-wrapper {
  float: right;
}

.search-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 30px;
  height: 30px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav.menunav {
  margin-top: 16px;
  margin-bottom: 30px;
}

.news-item {
  margin-left: 20px;
  margin-right: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
  font-family: Arial;
  font-weight: normal;
  line-height: 1.429;
}

.Кот_Ахилл_предсказал_победу_российской_сборной_ {
  font-size: 14px;
  font-family: "Arial";
  color: rgb(0, 0, 0);
  line-height: 1.429;
  text-align: left;
  position: absolute;
  left: 237px;
  top: 364.983px;
  z-index: 235;
}

h2.leftheader {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 55px;
  border-bottom: 1px gray;
}

.h3 {
  font-size: 20px;
  padding: 27px 0 27px 18px;
  margin: 0 0 34px;
  border-bottom: 1px solid #e5e5e5;
}

.column-left {
  background-color: #ffffff;
  width: 250px;
  float: left;
  height: 845px;
  margin-right: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#all-news {
  color: #448ccb;
  width: 170px;
  height: 40px;
  font-size: 14px;
  position: absolute;
  top: 785px;
  left: 45px;
  border-radius: 17px;
  border-color: #448ccb;
}

.main-news {
  width: 460px;
  margin: 0;
  overflow: hidden;
  float: left;
}

.big {
  width: 460px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 20px;
}

.big-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big-category {
  display: inline-block;
  margin-top: 30px;
}

.main-news-item {
  position: absolute;
  top: 120px;
  margin-left: 20px;
  max-width: 420px;
  color: white;
  font-size: 30px;
}

.main-news-item-props {
  position: absolute;
  bottom: 35px;
  margin-left: 20px;
  font-size: 12px;
  color: white;

}



.main-news-comments-count {
  padding-left: 15px;
  background-image: url("img/icon-comments.png");
  position: absolute;
  background-repeat: no-repeat;
}

.col.small {
  float: left;
  width: 220px;
  margin-right: 0px;
  margin-bottom: 20px;
}

.main-news li:nth-child(even) article {
  margin-right: 20px;
}

.col.small img.thumb {
  width: 100%;
  height: 142px;
  object-fit: cover;
}

.small-news-item {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.28px;
  font-weight: bold;
}

.small-news-item-props {
  font-family: Arial;
  margin-top: 10px;
}

.category {
  display: inline-block;
  color: grey;
  text-decoration: none;
  
}


.categorymain {
  font-size: 12px;
  color: white;
  text-decoration: none; 
  position: absolute;
  top: 120px;
  margin-left: 20px;
}


.main-news-time {
  display: inline-block;
  font-size: 12px;
 
}

.main-news-comments-count {
  display: inline-block;
  margin-left: 20px;
  font-size: 12px;
}

/*

.main-news-item {
    padding-left: 18px;
    margin-bottom: 27px;
    font-size: 14px;
    margin-bottom: 20px;
  
}



*/

.news-item-props {
  font-size: 12px;
  position: relative;
  margin-left: 20px;
  margin-bottom: 29px;
}

.news-item-props a {
  color: #91919f;
}

.news-time {
  font-size: 12px;
  position: absolute;
  top: 0;
  left: 120px;
  padding-left: 15px;
  background-image: url("img/icon-time.png");
  background-repeat: no-repeat;
}

.news-comments-count {
  position: absolute;
  top: 0;
  left: 180px;
  padding-left: 15px;
  background-image: url("img/icon-comments.png");
  background-repeat: no-repeat;
}

#menu-container {
  height: 70px;
}

a:link {
  color: gray;
}

#central-container {
  padding-top: 20px;
  background-color: #f9f9f9;
  background-image: url("img/central-bg-top.png");
  background-repeat: repeat-x;
}

#central-container .fixed-container {
  overflow-y: hidden;
}

.column-right {
  width: 250px;
  float: right;
}

.column-right img {
  margin-bottom: 20px;
}

#search {
  top: 40px;
  border: 1px solid black;
  height: 30px;
  width: 100%;
  float: right;
  border-radius: 8px;
  background-color: grey;
  padding: 4px;
}

#city {
  color: blue;
}

#datetime {
  float: right;
}

#header {
  height: 100px;
}

/*

.news-item-text {
    margin-bottom: 20px;
}
*/

.separated-menu a:not(:last-child)::after {
  content: " / ";
  color: #e5e5e8;
  margin-right: 12px;
  margin-left: 12px;
}

.separated-menu a {
  color: black;
  text-decoration: none solid black;
}

#special-news {
  margin-top: 20px;
}

.list {
  padding-left: 20px;
}

.list-item {
  display: list-item;
}

#blue-bar {
  background-color: #00122f;
  padding: 20px 0;
  width: 1440px;
  height: 338px;
}

#list1 {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 80px;
  left: 220px;
}

.tags a {
  color: white;
  text-decoration-style: solid;
  text-decoration-line: none;
  font-size: 12pt;
}

.tags a:before {
  color: white;
  content: "/ ";
  font-size: 12pt;
}

.col {
  float: left;
  width: 50%;
}

.big .tags {
  position: absolute;
  top: 50px;
  margin-left: 10px;
  max-width: 420px;
  color: white;
  font-size: 30pt;
  margin-bottom: 29px;
  
}

.small img.thumb {
  width: 100%;
}

.big img.thumb {
  width: 100%;
}

.big .date {
  position: absolute;
  top: 270px;
  margin-left: 10px;
  max-width: 420px;
  color: white;
  margin-bottom: 29px;
}

.big .time {
  position: absolute;
  top: 270px;
  margin-left: 100px;
  max-width: 420px;
  color: white;
  margin-bottom: 29px;
}

.big .time-icon {
  color: white;
  
}


.main-news-item-props-time {
  position: absolute;
  left: 120px;
  bottom: 35px;
  font-size: 12px;
  color: white;
}

.special-news-left {
  float: left;
  width: 589px;
  max-height: 400px;
  margin: 0 auto;
  position: relative;
}

.special-news-right {
  float: left;
  width: 380px;
  padding-left: 20px;
}

.img-big-special {
  width: 100%;
}

#blue-bar {
  background-color: #00122f;
  padding: 20px 0;
  width: 1440px;
  height: 338px;
}

.footer-menu {
  columns: 2;
  width: 200px;
  margin-left: 100px;
}

.footer-list {
  color: white;
  font-size: 14px;
  top: 80px;
  left: 220px;
  list-style: none;
}

#contacts {
  float: right;
}
