* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
}


html,
body {
  height: 100%;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1366px;
  margin: 0 auto;
  min-height: 100%;
}

.header {
  padding-top: 63px;
}

.slider-padding {
  padding-left: 98px;
  padding-right: 98px;
}

.slider {
  height: 800px;
  background-image: url(img/slider-img.png);
  position: relative;
}

.mainmenu {
  list-style-type: none;
  float: right;
}

.menuli {
  list-style-type: none;
  float: left;
}

.menu-link {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 48px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 300;
  letter-spacing: 1.4px;
  text-decoration: none;
  padding: 10px 13px;
}

.menu-link:hover {
  color: #212121;
}

.menu-link-active {
  color: #212121;
  font-family: "Montserrat";
  font-weight: 700;
  letter-spacing: 1.4px;
}

.menu-link-active:hover {
  text-decoration: underline;
}

.mainlogo {
  margin-top: 13px;
  position: absolute;
}

.search {
  float: right;
  margin-top: 13px;
}

.slider-info {
  margin-top: 283px;
}

.p-trending {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #43a047;
  letter-spacing: 1.8px;
  font-family: "Montserrat";
}

.p-trending:hover {
  color: #2c6b2f;
}



.slider-header {
  color: #212121;

  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.slider-details {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 458px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: "Montserrat";
}

.orderbtn {
  width: 212px;
  height: 45px;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  color: #212121;
  letter-spacing: 3.6px;
  font-family: "Montserrat";
  font-size: 18px;
  line-height: 45px;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  border-width: 0;
}



.orderbtn:hover {
  opacity: 0.8;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #8c8c8c;
  border-radius: 50%;
  margin: 5px;
}



.circle-active:hover {


  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}



.slider-dots {
  position: absolute;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}

.second-page {
  margin-top: 230px;
}

.new-offers {
  margin-top: 25px;
  
}

.featured-items {
  height: 27px;
  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  position: absolute;
  
}

.featured-new-items {
  text-decoration: none;
  position: absolute;
  margin-left: 180px;
  
}

.coloroffer {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
}

.underline-a1 {

  position: absolute;
  width: 187px;
  height: 3px;
  background-color: #212121;
  margin-top: 47px;
 
}

.underline-a2 {
  width: 300px;
  height: 1px;
  background-color: #6c6c6c;
  position: absolute;
  margin-top: 49px;
}



.all-offers {
  margin-top: 25px;
  float: right;
}



.all-offers a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3.6px;
}

.all-offers a:hover {
  color: #6c6c6c;
  }


.new-products {
  margin-top: 40px;
  float: left;
  margin-bottom: 120px;
}

.new-products-img {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.new-products-info {
  margin-right: 30px;
  width: 270px;
  height: 270px;
  position: relative;
}

.hover-info {
  display: none;
  position: absolute;
  top: 62px;
  left: 32px;

  bottom: 68px;
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 21.91px;
}

.new-products-info:hover .hover-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-products-info:hover .imghover {
  opacity: 0.3;
}

.hover-info img {
  margin-bottom: 10px;
  width: 48px;
  height: 48px;
}

.hover-info h5 {
  color: #212121;
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 29.88px;
  margin-bottom: 23px;
}

.hover-info p {
  text-align: center;
}





.third-page {
  float: left;

}

.exclusive-info {
  display: flex;
  justify-content: center;

}



.product-1 {
width: 683px;
height: 683px;

}

.product-2 {
  width: 683px;
  height: 683px;

}


.third-info-1 {
  margin-top: -442px;
  margin-left: 51px;
}


.p-exclusive {
 
margin-bottom: 18px;

}

.p-exclusive a {
  text-decoration: none;
  color: #1e88e5;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}



.p-exclusive a:hover {
  color: #1868ad;
}




.exclusive-header {

  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;

}


.exclusive-details {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.04px;
  margin-bottom: 34px;
}


.third-info-2 {
  margin-top: -442px;
  margin-left: 51px;
}


.fourth-page {
 margin-top: 1200px;

}

.Trending-Products {
margin-top: 375px;
position: absolute;
margin-left: 98px;
}

.all-offers-trending {

  margin-top: 185px;
  float: right;
  margin-right: 98px;

}




.all-offers-trending a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 3.6px;
}


.all-offers-trending a:hover {
  color: #6c6c6c;
}



.fourth-page-products {
  margin-top: 40px;
}

.fourth-page-products-img {
  list-style-type: none;
  display: flex;
  justify-content: center;

}

.trending-img {
  margin-right: 30px;
  margin-bottom: 30px;
}


.slider-2 {
  height: 800px;
  background-image: url(img/slider.png);
  position: relative;
}



.slider-info-2 {
  margin-top: 120px;
  padding-top: 287px;
padding-left: 98px;
}




.p-trending-2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #e53935;
  letter-spacing: 1.8px;
  font-family: "Montserrat";
  
}

.p-trending-2:hover {
 color: #8a2220;
}



.slider-header-2 {
  color: #212121;

  font-size: 62px;
  font-weight: 100;
  line-height: 72px;
  text-transform: uppercase;
  font-family: "Montserrat";
}

.slider-details-2 {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 458px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: "Montserrat";
  width: 530px;

}



.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #8c8c8c;
  border-radius: 50%;
  margin: 5px;
}



.circle-active:hover {


  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: 0;
}



.slider-dots {
  position: absolute;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}



.slider-3 {
  height: 570px;
  background-image: url(img/product-1-lg.png);
  position: relative;
  width: 570px;
height: 570px;

margin-left: 98px;
margin-right: 30px;
}


.sixth-page {
  display: flex;
  margin-top: 120px;
}


.sixth-info {
  padding-top: 186px;
  margin-left: 31px;
  
}


.p-exclusive-2 {
 
margin-bottom: 18px;

}

.p-exclusive-2 a {
  text-decoration: none;
  color: #1e88e5;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}



.p-exclusive-2 a:hover {
  color: #1868ad;
}




.exclusive-header-2 {

  color: #212121;
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;

}


.exclusive-details-2 {
  color: #6c6c6c;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.04px;
  margin-bottom: 34px;
}





.sixth-page-products {  
margin-right: 98px;

}

.sixth-page-products-img {
  list-style-type: none;
  display: flex;
  justify-content: right;
  margin-bottom: 30px;
  margin-right: 30px;

}

.trending-img-6 {
  margin-left: 30px;
}


.seventh-page {
  margin-top: 120px;
}

.slider-4 {
  height: 516px;
  background-image: url(img/back-img.png);
  position: relative;
  
}

  .slider-info-4 {
padding-top: 125px;
margin-left: 98px;

  }



  .p-trending-6 {
    color: #6c6c6c;
    font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 48px;
text-transform: uppercase;
  }


  .slider-header-6 {

    color: #212121;
    font-family: Montserrat;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;

  }


  .slider-details-6 {

    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 33px;
  }






  .wrapper {
  
  }


  .content {
   

  }



  .footer {
    clear:both;
  
    height: 384px;
    border-style: none;
    background-color:  #f7f7f7;

    width: 100%;

  }





